@import "~bootstrap/scss/bootstrap.scss";

.card {
    width: 30rem;
}

.footer {
    background-color:#212529;
    color:white;
}

.bar {
    float:right;
}

//.image{
//    width:100%;
//}


// .card-img-top {
//     width: 100%;
// }

.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://images.pexels.com/photos/205316/pexels-photo-205316.png);
    height: 500px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #002e4d;
    font-weight: bold;
    border-bottom:20px;
    
    
}